/* DESKTOP */

.artwork-data {
    position: fixed;
    left: 2rem;
    bottom: 1rem;
    font-size: 0.9rem;
    color: rgba(128, 128, 128);
}

.artwork-dimensions {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    font-size: 0.9rem;
    color: rgba(128, 128, 128);
}

#paintingImages {   
    background-color: rgba(10, 10, 10, 0.95);
    padding: 0rem 0rem 10rem 0rem;
}

.img-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.img-item img {
    max-height: 97vh;
    max-width: 90vw;
    padding: 2rem 0;
}

#img-description {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    padding: 10rem 0rem 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 1.5rem 1rem auto;
    grid-row-gap: 1rem;
    text-align: justify;
    background-color: rgba(10, 10, 10, 0.95);
}
    
#paintingTitle { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 1 / 1 / 2 / 5;
    font-size: 3rem;
    width: 100vw;
}

#paintingYearOfCreation { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 2 / 1 / 3 / 5; 
    font-size: 1.7rem;
    width: 100vw;
}

#paintingStatus { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 1 / 4 / 5;
    font-size: 1.3rem;
    width: 100vw;
}

#paintingDescription { 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: 4 / 1 / 5 / 5;
    width: 100vw;
    height: auto;
    padding: 2rem 25% 0rem;
}

#backToMainPage {
    position: absolute;
    top: 4rem;
    right: 2rem;
    color: rgba(128, 128, 128);
}


/* MOBILE */

@media (max-width: 426px) {

    .img-item {
        width: 100vw;
        height: 100vh;
    }
    
    img {
        height: auto;
        max-width: 90vw;
    }

    #img-description p {
        padding: 1.5rem 2rem 5rem;
        font-size: 0.8rem;
    }

    #paintingDescription { 
        padding: 2rem 5vh 0rem;
    }

    #backToMainPage {
        top: 3rem;
    }

}

@media (min-width: 427px) and (max-width: 770px) {
    img {
        height: 97vh;
        max-width: 90vw;
    }

    #paintingTitle { 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        grid-area: 1 / 1 / 2 / 5;
        font-size: 3rem;
        width: 100vw;
    }
    

}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

    #img-description {
        grid-row-gap: 0.5rem;
    }
    
    #img-description p {
        padding: 0.5rem 2rem 0rem;
        font-size: 0.8rem;
    }

}