/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* DESKTOP */
.artwork-data {
    position: fixed;
    left: 2rem;
    bottom: 1rem;
    font-size: 0.9rem;
    color: dimgray;
}


.artwork-dimensions {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    font-size: 0.9rem;
    color: dimgray;
}

#paintingImages {   
    background-color: black;
    padding: 0rem 0rem 10rem 0rem;
}


.img-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.img-item img {
    max-height: 95vh;
    max-width: 90vw;
    padding: 2rem 0;
    overflow: hidden;
}

#img-description {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    min-height: 100vh;
    padding: 10rem 0rem 5rem;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 3rem 1rem 1.5rem 1rem 1rem 1rem auto;
    grid-template-rows: 3rem 1.5rem 1rem auto;
    grid-row-gap: 1rem;
    text-align: justify;
    background-color: black;
}

#img-description > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#img-description > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#img-description > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#img-description > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

#img-description > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

#img-description > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}

#img-description > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

#img-description > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
}

#img-description > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

#img-description > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
}

#img-description > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

#img-description > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
}

#img-description > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

#img-description > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
}

#img-description > *:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

#img-description > *:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
}
    
#paintingTitle { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / 2 / 5;
    font-size: 3rem;
    width: 100vw;
}

#paintingYearOfCreation { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 3 / 5; 
    font-size: 1.7rem;
    width: 100vw;
}

#paintingStatus { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 3 / 1 / 4 / 5;
    font-size: 1.3rem;
    width: 100vw;
}

#paintingDescription { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 4 / 1 / 5 / 5;
    width: 100vw;
    height: auto;
    padding: 2rem 25% 0rem;
}

#backToMainPage {
    position: absolute;
    top: 4rem;
    right: 2rem;
    color: dimgray;
}



/* MOBILE */

@media (max-width: 426px) {

    .img-item {
        width: 100vw;
        height: 100vh;
    }
    
    img {
        height: auto;
        max-width: 90vw;
    }

    #img-description p {
        padding: 1.5rem 2rem 5rem;
        font-size: 0.8rem;
    }

    #paintingDescription { 
        padding: 2rem 5vh 0rem;
    }

    #backToMainPage {
        top: 3rem;
    }

}

@media (min-width: 427px) and (max-width: 770px) {
    img {
        height: 97vh;
        max-width: 90vw;
    }

    #paintingTitle { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-area: 1 / 1 / 2 / 5;
        font-size: 3rem;
        width: 100vw;
    }
    

}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

    #img-description {
        grid-row-gap: 0.5rem;
    }
    
    #img-description p {
        padding: 0.5rem 2rem 0rem;
        font-size: 0.8rem;
    }

}