h1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.biography p {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 27vw 5rem;
}


/* MOBILE */

@media (max-width: 426px) {
  
    .biography p {
        padding: 3rem 2rem 5rem;
    }
    
}