/* DESKTOP */

h1 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 5rem;
}

.biography p {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem 27vw 5rem;
    text-align: justify;
}


/* MOBILE */

@media (max-width: 426px) {
  
    .biography p {
        padding: 3rem 2rem 5rem;
        font-size: 0.8rem;
    }
    
}

@media (min-width: 427px) and (max-width: 770px) {
    
    .biography p {
        padding: 3rem 7rem 5rem;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

    .biography p {
        padding: 3rem 7rem 5rem;
        font-size: 0.8rem;
    }

}