/* DESKTOP */

.contact {
    width: 100vw;
    height: 100vh;
    display: block;
}

h1 {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#contactEmailButton {
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 3rem;
    width: 7rem;
    border: none;
    background-color: rgba(0, 0, 0);
    opacity: 0.8;
    color: rgba(150, 150, 150);
    font-family: 'Oswald', sans-serif;
}

#contactEmailButton:hover {
    color: rgba(255, 255, 255);
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}


/* MOBILE */

@media (max-width: 426px) {
  
    .contact-form {
        padding: 3rem 2rem 5rem;
    }

}