/* DESKTOP */

main {
    box-sizing: border-box;
    padding: 3rem 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 45vh;
    padding: 2rem;
}

.text {
    width: 80%;
    padding-right: 0.5rem;
}

.poster {
    display: flex;
    width: 20%;
    padding-left: 0.5rem;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: auto;
}

#exhibitionHeader, #exhibitionDate, #exhibitionParagraph, #exhibitionLink {
    padding-bottom: 0.8rem;
}

#exhibitionDate {
    font-weight: bolder;
}

#exhibitionParagraph {
    text-align: justify;
}



/* MOBILE */

@media (max-width: 426px) {

    .container {
        flex-wrap: wrap;
        height: 100vh;
    }

    .text {
        width: 100%;
        height: 70%;
    }
    
    .poster {
        width: 100%;
        height: 30%;
    }

    #exhibitionHeader {
        font-size: 1rem;
    }

    #exhibitionDate {
        font-size: 0.8rem;
    }

    
    #exhibitionParagraph, #exhibitionLink {
        font-size: 0.8rem;
    }

    .poster {
        display: none;
    }

}


@media (min-width: 427px) and (max-width: 770px) {

    main {
        padding: 5rem 0;
    }

    .container {
        height: 100vh;
    }

    img {
        height: 50%;
        width: auto;
    }

    .text {
        width: 70%;
    }
    
    .poster {
        width: 30%;
    }

}