/* DESKTOP */

main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 3rem 0;
}

.container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    min-height: 45vh;
    padding: 2rem;
}

.text {
    width: 80%;
    padding-right: 0.5rem;
}

.poster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    padding-left: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

img {
    width: 100%;
    height: auto;
}

#exhibitionHeader, #exhibitionDate, #exhibitionParagraph, #exhibitionLink1, #exhibitionLink2, #exhibitionLink3 {
    padding-bottom: 0.8rem;
}

#exhibitionDate {
    font-weight: bolder;
}

#exhibitionParagraph {
    text-align: justify;
    height: auto;
}

#exhibitionLink1, #exhibitionLink2, #exhibitionLink3 {
    font-size: 0.8rem;
}


/* MOBILE */

@media (max-width: 426px) {

    .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 100vh;
    }

    .text {
        width: 100%;
        height: 70%;
    }
    
    .poster {
        width: 100%;
        height: 30%;
    }

    #exhibitionHeader {
        font-size: 1rem;
    }

    #exhibitionDate {
        font-size: 0.8rem;
    }

    
    #exhibitionParagraph {
        font-size: 0.8rem;
    }

    #exhibitionLink1, #exhibitionLink2, #exhibitionLink3 {
        font-size: 0.7rem;
    }

    .poster {
        display: none;
    }

}


@media (min-width: 427px) and (max-width: 770px) {

    main {
        padding: 5rem 0;
    }

    .container {
        height: 100vh;
        margin-bottom: 5rem;
    }

    img {
        max-width: 10rem;
        height: auto;
    }

    .text {
        width: 70%;
    }
    
    .poster {
        width: 30%;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

    .container {
        height: auto;
    }

    .poster {
        display: none;
    }

    .text {
        width: 100%;
    }

    #exhibitionHeader {
        font-size: 1rem;
    }

    #exhibitionDate {
        font-size: 0.8rem;
    }

    #exhibitionParagraph {
        font-size: 0.8rem;
    }

    #exhibitionLink1, #exhibitionLink2, #exhibitionLink3 {
        font-size: 0.7rem;
    }

  }