/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* DESKTOP */

body {
    
}

#popUpImgContainer {
    height: 100%;
    width: 100%;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    position: fixed;
    visibility: visible;
    z-index: 3;
    background-color: black;
    opacity: 0.8;
}

#popUpImg {
    height: 90vh;
    width: auto;
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    padding: 2rem;
}

.img-container {
    padding: 3.5rem 0rem 0rem;
    width: 20vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}

.author {
    padding: 0.3rem 0;
    font-weight: 900;
    font-size: 1rem;
}

.title {
    font-weight: 600;
    font-size: 0.8rem;
}


/* MOBILE */

@media (max-width: 426px) {

    #popUpImg {
        max-width: 90vw;
        height: auto;
        max-height: 90vh;
        padding: 0.5rem;
    }

    main {
        top: 1rem;
    }

    .img-container {
        padding: 2.5rem 0rem 0rem;
        width: 90vw;
    }
    
}

@media (max-width: 800px) and (min-width: 427px) {

    .img-container {
        width: 25vw;
    }

}



