/* DESKTOP */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: red 1px solid;
    z-index: 1;
}

ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 9fr 1fr;
    grid-template-columns: 9fr 1fr;
}

.nav-left .name {
    -ms-grid-column-align: start;
        justify-self: start;
    font-size: 1.2rem;
    font-weight: 900;
}

.nav-left .pseudonym {
    -ms-grid-column-align: start;
        justify-self: start;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
}

.nav-right {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1rem;
}

.small-screens {
    display: none;
}


/* MOBILE */

@media (max-width: 426px) {

    nav {
        padding: 0.5rem 2rem;
    }

    .nav-left .name {
        font-size: 1rem;
    }

    .nav-left .pseudonym {
        font-size: 0.8rem;
    }

    .large-screens {
        display: none;
    }

    .small-screens {
        display: block;
    }

}