/* DESKTOP */

.sidemenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0);
    -webkit-background-color: rgba(0, 0, 0);
    opacity: 0.8;
    z-index: 2;
    overflow-x: hidden;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.elements-to-hover:hover {
    color: rgba(255, 255, 255);  
    -webkit-color: rgba(255, 255, 255);  
    -webkit-transition: 0.35s;  
    -o-transition: 0.35s;  
    transition: 0.35s;  
}

.sidemenu a {
    color: rgba(128, 128, 128);
    -webkit-color: rgba(128, 128, 128);
}

.sidemenu a:hover {
    color: rgba(255, 255, 255);
    -webkit-color: rgba(255, 255, 255);
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.sidemenu #close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1rem;
    color: rgba(128, 128, 128);
    -webkit-color: rgba(128, 128, 128);
}

.sidemenu-links {
    padding-top: 25%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 4fr;
    grid-template-rows: 4fr;
    grid-row-gap: 2.5rem;
    justify-items: center;
}

.sidemenu-links > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.sidemenu-sorting {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin-top: -1.25rem;
}

.sidemenu-language {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}

#pl {
    color: rgba(255, 255, 255);
    -webkit-color: rgba(255, 255, 255);
}

.sidemenu-icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 3rem;
}

.sidemenu-icons a {
    padding: 0 2rem;
    font-size: 1.3rem;
}

#displayAllButton {
    color: rgba(255, 255, 255);
    -webkit-color: rgba(255, 255, 255);
}


/* MOBILE */

@media (max-width: 426px) {

    .sidemenu #close-button {
        top: -0.4rem;
        font-size: 3rem;
    }   


}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

    .sidemenu-links {
        padding-top: 20%;
        grid-row-gap: 0.6rem;
    }

    .sidemenu-icons {
        position: absolute;
        top: 1.7rem;
        right: 10vw;
        height: 1rem;
    }

    .sidemenu-sorting {
        margin-top: 0;
    }


  }