/* NAVBAR  DESKTOP*/

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    margin: 0px;
    z-index: 1;
    border-bottom: solid black 1px; /* do usunieca pozniej */
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0);
}

.nav-left {
    justify-self: start;
    font-size: 1.2rem;
}

.pseudonym {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
}

.nav-right {
    justify-self: end;
    align-self: center;
    font-size: 1rem;
}

.sidemenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.8;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.35s;
}

.sidemenu a {
    text-decoration: none;
    color: gray;
    transition: 0.35s;
}

.sidemenu a:hover {
    color: rgba(255, 255, 255);
}

.sidemenu #close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1rem;
    color: dimgray;
}

.sidemenu-links {
    padding-top: 25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-row-gap: 3rem;
    justify-items: center;
}


.language {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}


/* NAVBAR  MEDIA*/

@media (max-width: 426px) {

    nav {
        padding: 0.5rem 2rem;
    }

    .nav-left {
        font-size: 1rem;
    }

    .pseudonym {
        font-size: 0.8rem;
    }

    .nav-right {
        font-size: 0.8rem;
    }

    .sidemenu #close-button {
        top: -0.4rem;
        font-size: 3rem;
    }   

}

/* NAVBAR MENU BUTTON*/

