/* UNIVERSAL */

body, nav, main, .img-container  {
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

@-ms-viewport{
    width: device-width;
  }


  /* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 2rem;
    padding: 0rem 2rem;
}

.img-container {
    padding: 3.5rem 0rem 0rem 0rem;
    width: 20vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}


/* MAIN  MEDIA*/

@media (max-width: 426px) {

    main {
        top: 1rem;
    }

    .img-container {
        padding: 2.5rem 0rem 0rem 0rem;
        width: 90vw;
    }
}

@media (max-width: 800px) and (min-width: 427px) {

    .img-container {
        width: 25vw;
    }
}

/*_____________________________________________________________________________________________________________________________________________*/
