/* UNIVERSAL */

body, nav, main, .img-container  {
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}


/* NAVBAR  DESKTOP*/

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    margin: 0px;
    z-index: 1;
    border-bottom: solid black 1px; /* do usunieca pozniej */
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-left {
    justify-self: start;
    font-size: 1.2rem;
}

.pseudonym {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
}

.nav-right {
    justify-self: end;
    align-self: center;
    font-size: 1rem;
}

/* NAVBAR  MEDIA*/

@media (max-width: 426px) {

    nav {
        padding: 0.5rem 2rem;
    }

    .nav-left {
        font-size: 1rem;
    }

    .pseudonym {
        font-size: 0.8rem;
    }

    .nav-right {
        font-size: 0.8rem;
    }
}

/*_____________________________________________________________________________________________________________________________________________*/


/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 2rem;
    padding: 0rem 2rem;
}

.img-container {
    padding: 3.5rem 0rem 0rem 0rem;
    width: 20vw;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 100%;
}


/* MAIN  MEDIA*/

@media (max-width: 426px) {

    main {
        top: 1rem;
    }

    .img-container {
        padding: 2.5rem 0rem 0rem 0rem;
        width: 90vw;
    }
}

@media (max-width: 800px) and (min-width: 427px) {

    .img-container {
        width: 25vw;
    }
}

/*_____________________________________________________________________________________________________________________________________________*/
